extends header

block content
  .container
    .row
      .col-md-10.col-md-offset-1
        #timer
          h3 Time Remaining: 15:00
        form(method="post", action="")
          for item, i in items
            .panel.panel-primary
              .panel-heading
                h3.panel-title
                  | #{item.question}
              .panel-body
                .radio(name="question")
                  label
                    input#optionsRadios1(type='radio', name='#{i}', value='1', checked='')
                    |  #{item.option1}
                .radio
                  label
                    input#optionsRadios2(type='radio', name='#{i}', value='2')
                    |  #{item.option2}
                .radio
                  label
                    input#optionsRadios3(type='radio', name='#{i}', value='3')
                    |  #{item.option3}
                .radio
                  label
                    input#optionsRadios4(type='radio', name='#{i}', value='4')
                    | #{item.option4}
          button.btn.btn-primary(type='submit') Submit

        script(src="/javascript/assignment.js")
