extends header

block content
  .container
    .row
      .col-md-6.col-md-offset-3
        .list-group
          for item, i in courses
            .list-group-item.list-group-item-action.flex-column.align-items-start(href='#')
              .d-flex.w-100.justify-content-between
                h3.mb-1 #{item.name}
                label #{item.type}
              h5
                | Total-Subscribers &nbsp;
                span.badge.badge-primary #{item.enrollCnt}
              h5
                | Mandatory-Subscribers &nbsp;
                span.badge.badge-primary #{item.mandatoryCnt}
              .btn-group()
                a.btn.btn-primary(href='/faculty/course/#{item.id}') Lectures
                a.btn.btn-primary(href='/analytics/#{item.id}') Analytics
                a.btn.btn-primary(href='/analytics/segmentation/#{item.id}') Segmentation
        .top-30.text-center
          a.btn.btn-primary(type='button', href='/faculty/create') Add Course
