extends header

block content
  .container
    .row
      .col-md-8.col-md-offset-2
        .list-group
          for item, i in courses
            .list-group-item(href='#')
              h3.list-group-item-heading #{item.name}
              label #{item.tname} &nbsp;
              - var time = moment(item.created_at).fromNow()
              label.text-right #{time}
              p.list-group-item-text(style=" height: 3em;line-height: 1em;overflow: hidden;") #{item.description}
              .row(style="margin-top: 10px;")
                .col-md-10.text-left
                  .span.badge.badge-primary(style="margin-right: 10px;") #{item.type}
                  .span.badge.badge-primary(style="margin-right: 10px;") #{item.l_cnt} Lectures
                - var enrolled = (item.enrolled)? "Lectures" : "Enroll"
                - var link = (item.enrolled) ? '/course/'+item.id + '/1' : "/course/enroll/"+item.id
                a.col-md-4.col-md-offset-4(href='#{link}')(style="margin-top: 10px;").btn.btn-primary #{enrolled}





